<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>select_role/back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,862},{109,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,145},{109,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/back3.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,971},{109,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/baseInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,690},{335,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,76}</string>
			</dict>
			<key>select_role/create1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,818},{109,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/create2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,254},{109,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/create3.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,927},{109,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/next1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1025},{109,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/next2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,363},{109,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/next3.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1025},{109,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>select_role/selRole.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{145,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,42}</string>
			</dict>
			<key>main/bajie_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1934},{137,129}}</string>
				<key>offset</key>
				<string>{-24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,141}</string>
			</dict>
			<key>main/bajie_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1833},{134,135}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,141}</string>
			</dict>
			<key>main/bajie_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,1962},{136,141}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,141}</string>
			</dict>
			<key>main/bajie_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,1796},{153,138}}</string>
				<key>offset</key>
				<string>{11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,141}</string>
			</dict>
			<key>main/bajie_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1677},{156,134}}</string>
				<key>offset</key>
				<string>{14,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,141}</string>
			</dict>
			<key>main/bajie_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1850},{153,138}}</string>
				<key>offset</key>
				<string>{11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,141}</string>
			</dict>
			<key>main/bajie_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1856},{136,141}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,141}</string>
			</dict>
			<key>main/bajie_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1968},{134,135}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,141}</string>
			</dict>
			<key>main/deposit_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1036},{109,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/deposit_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,472},{109,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/deposit_btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1134},{109,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/enter_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,966},{108,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/enter_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,581},{109,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/enter_btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1145},{109,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/exit_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1134},{109,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>main/exit_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,600},{109,43}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>main/exit_btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1243},{109,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,43}</string>
			</dict>
			<key>main/forum_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1243},{109,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/forum_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,709},{109,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/forum_btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,857},{109,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/Logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,600},{394,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,213}</string>
			</dict>
			<key>main/register_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,857},{109,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/register_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,753},{109,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/register_btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,966},{109,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,43}</string>
			</dict>
			<key>main/sanzang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{205,193}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,194}</string>
			</dict>
			<key>main/sanzang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,600},{207,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,194}</string>
			</dict>
			<key>main/sanzang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,753},{206,194}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,194}</string>
			</dict>
			<key>main/sanzang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,988},{207,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,194}</string>
			</dict>
			<key>main/sanzang_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,1181},{205,193}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,194}</string>
			</dict>
			<key>main/sanzang_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,857},{207,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,194}</string>
			</dict>
			<key>main/sanzang_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,794},{206,194}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,194}</string>
			</dict>
			<key>main/sanzang_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,947},{207,193}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,194}</string>
			</dict>
			<key>main/wujing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1549},{208,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,753},{228,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1243},{222,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1465},{212,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,1414},{213,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1209},{222,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,981},{228,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1352},{224,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,1279},{217,135}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1431},{212,134}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1374},{217,136}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wujing_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1140},{223,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,141}</string>
			</dict>
			<key>main/wukong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1718},{188,138}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,145}</string>
			</dict>
			<key>main/wukong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1655},{190,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,145}</string>
			</dict>
			<key>main/wukong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1510},{190,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,145}</string>
			</dict>
			<key>main/wukong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,1682},{190,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,145}</string>
			</dict>
			<key>main/wukong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,1824},{190,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,145}</string>
			</dict>
			<key>main/wukong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1576},{190,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,145}</string>
			</dict>
			<key>main/wukong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1565},{190,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,145}</string>
			</dict>
			<key>main/wukong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1710},{190,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,145}</string>
			</dict>
			<key>select_role/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{299,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,257}</string>
			</dict>
			<key>main/main_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{960,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,600}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main_ui.png</string>
			<key>realTextureFileName</key>
			<string>main_ui.png</string>
			<key>size</key>
			<string>{1024,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>